:root {
    --color_red: hsl(0, 100%, 74%);
    --color_green: hsl(154, 59%, 51%);
    --color_blue: hsl(248, 32%, 49%);
    --color_dark_blue: hsl(249, 10%, 26%);
    --color_grayish_blue: hsl(246, 25%, 77%);
}

* {
    box-sizing: border-box;
}

body {
    background-image: url(./images/bg-intro-mobile.png);
    background-color: var(--color_red);
    font-family: 'Poppins', sans-serif;
}

header {
    color: white;
    text-align: center;
}

header p.title{
    font-size: 30px;
    font-weight: 600;
    margin-top: 100px;
}

header p.intro {
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
    padding-right: 20px;
}

main {
    margin-top: 30px;
    padding: 20px;
    margin-bottom: 50px;
}

main aside {
    font-size: 16px;
    font-weight: 400;
    color: white;

    text-align: center;
    border-radius: 5px;
    background-color: var(--color_blue);
    padding: 15px 50px 15px;

    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3) ;
}

main aside span {
    color: white;
    font-weight: 700;
}

main form {
    margin-top: 20px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    row-gap: 15px;

    border-radius: 5px;
    background-color: white;

    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.3);
}

main form div {
    position: relative;
}

main form input {
    outline: none;
    border-width: 0.2px;
    border-radius: 5px;
    border-style: solid;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;

    font-family: inherit;
    font-weight: 700;
}

main form div input {
    width: 100%;
}

main form div input:focus {
    border-color: var(--color_grayish_blue);
}

main form div input:invalid:focus {
    border-color: var(--color_red);
    color: var(--color_red);
}

main form #submit {
    background-color: var(--color_green);
    color: white;
    text-transform: uppercase;

    letter-spacing: 2px;
    font-weight: 500;
    font-size: 16px;

    cursor: pointer;
    transition: 0.4s;
}

main form #submit:hover {
    background-color: hsl(154, 59%, 75%);
}

main form footer {
    text-align: center;
    font-size: 12px;
    color: var(--color_grayish_blue);

    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

main form footer span {
    color: var(--color_red);
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    body {
        background-image: url(./images/bg-intro-desktop.png);
    }
    
    article {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        display: flex;
        justify-self: center;
        align-items: center;
    }

    header {
        text-align: start;
        margin-left: 100px;
        width: 600px;
    }

    header p.title {
        font-size: 50px;
        margin-bottom: 20px;
        line-height: 50px;
    }

    header p.intro {
        padding-left: 0;
        padding-right: 40px;
    }

    main {
        width: 600px;
        margin-right: 100px;
    }
}